/* The Style Sheet */

/*The Header*/
header {}


/*The Footer*/
.warn {
  display: flex;
  justify-content: center;
}

/*main styles*/
body{
  background: rgb(100,0,105);
background: linear-gradient(90deg, rgba(100,0,105,1) 0%, rgba(0,100,120,1) 100%);
color: #ffffff;
text-decoration: none;
}
/*Box stuffs*/
.boxl {
display: flex;
justify-content: center;
width: 50%;
height: 15%;
border: 5px solid #ffffff;
/*"Electric Violet"*/
outline: 5px solid #Ba00c2;
padding: 25px;
margin: 10px;
}
.boxr {
display: flex;
justify-content: center;
width: 50%;
height: 15%;
border: 5px solid #ffffff;
/*"Cerulean"*/
outline: 5px solid #02a9c8;
padding: 25px;
margin: 10px;
box-align: end;
}
.boxm {
display: flex;
justify-content: center;
width: 50%;
height: 15%;
border: 5px solid #Ba00c2;
outline: 5px solid #02a9c8;
padding: 25px;
margin: 10px;
}
/*Pictors*/
.pic {
  display: flex;
  justify-content: center;
}
.picr{
  display: flex;
  align-items: flex-end;
}
.picl{
  display: flex;
  align-items: flex-start;
}
/*Navbar*/


  ul {
    background-color: #Ba00c2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-decoration: none;


  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #02a9c8;
  }
  .active {
  background-color: #0189a3;
}
/*Links*/

a:link{
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}
li a:hover{
  color: #00d5ff;
}
a:active{
  color: #228da3;
}

}
main{

}
